$accent-1: #bf931e;
$accent-1-light: lighten($accent-1, 10%);
$accent-1-lighter: lighten($accent-1, 30%);
$accent-1-lightest: lighten($accent-1, 50%);

$black: #000;
$grey: #777;
$grey-light: lighten($grey, 10%);
$grey-lighter: lighten($grey, 30%);
$grey-lightest: lighten($grey, 40%);
$white: #fff;
